@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>;



@{
    ViewData["Title"] = "Index";
}

<!-- Page Heading -->
<h1  style="color:white;">Perdoruesit</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="float-right">
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Roles">Roles</a>
        </div>
        <h6 class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Email</th>

                    </tr>
                </thead>
                <tfoot>

                    <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Email</th>
                    </tr>

                </tfoot>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Id)</td>
                            <td>@Html.DisplayFor(model => item.UserName)</td>
                            <td>@Html.DisplayFor(model => item.Email)</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>