@page
@model Libraryms.Areas.Identity.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Libra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Libra.Titulli" class="control-label"></label>
                <input asp-for="Libra.Titulli" class="form-control" />
                <span asp-validation-for="Libra.Titulli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Libra.Autori" class="control-label"></label>
                <input asp-for="Libra.Autori" class="form-control" />
                <span asp-validation-for="Libra.Autori" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Libra.E_Lire" /> @Html.DisplayNameFor(model => model.Libra.E_Lire)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

