@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1 {
        color: white;
        text-align: center;
        margin: 100px;
        padding: 10px 40px 0px 10px  50px 0;
        font-family: consolas;
        border: 1px solid;
        border-radius: 10px;
        border-color: cornflowerblue;
        background: cornflowerblue;
        opacity: 0.7;
    }

</style>


<h1 style="color:white;">Welcome to our Library Management!</h1>
