
@{
    ViewData["Title"] = "Index";
}

<title>Index</title>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Rezervimet</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titulli</th>
                        <th>Autori</th>
                        <th>Rafti</th>
                        <th>E Lire</th>
                        <th>Veprime</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Titulli</th>
                        <th>Autori</th>
                        <th>Rafti</th>
                        <th>E Lire</th>
                        <th>Veprime</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Asdren</td>
                        <td>Asdren Xhafa</td>
                        <td>61</td>
                        <td>Po</td>
                        <td><button class="btn btn-primary" href="#">Edito</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

