
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>


<div class="modal-dialog">
    <div class="modal-content">
        <form class="form" asp-action="Create" method="post">
            <div class="modal-header">
                <h4 class="modal-title">Shto Pagesë</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="window.location='/pagesa';">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Shuma:</label>
                    <input name="Shuma" id="Shuma" type="text" class="form-control" value="" required>
                </div>
                <div class="form-group">
                    <label>Klienti</label>
                    <input name="Klienti_id" id="Klienti_id" type="text" class="form-control" value="" required>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" value="Anulo" onclick="window.location='/pagesa';">
                <input type="submit" value="Create" class="btn btn-primary float-right">
            </div>
        </form>
    </div>
</div>