@model Libraryms.Models.Libra

@{
    ViewData["Title"] = "Delete";
}



<h1 style="color:white;">Are you sure you want to delete this?</h1>
<div>
    <h4 style="color:white;">Libra</h4>
    <hr />
    <dl class="dl-horizontal" style="color:white;">
        <dt >
            <h5>Titulli:  @Html.DisplayFor(model => model.Titulli)</h5>
        </dt>
        <dd>
            <h5>Autori: @Html.DisplayFor(model => model.Autori)</h5>
        </dd>
        <dt>
            <h5>E Lire:  @Html.DisplayFor(model => model.E_Lire)</h5>
        </dt>
    </dl>


    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="button"  value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">
            <input type="button" value="Back to List" class="btn btn-dark" />
            </a>
    </form>
</div>
