@model Libraryms.Models.Libra
@{
    ViewData["Title"] = "Index";
}
<div>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:black;">
        <tr>
            <td bgcolor="white">@Model.id</td>
            <td bgcolor="white">@Model.Titulli</td>
            <td bgcolor="white">@Model.Autori</td>
            <td bgcolor="white">@Model.E_Lire</td>
        </tr>
    </table>
</div>
    
