@model Libraryms.Models.Libra
@{
    ViewData["Title"] = "Index";
}
<div>
    <table class="table">
            <tr>
                <td>@Model.id</td>
                <td>@Model.Titulli</td>
                <td>@Model.Autori</td>
                <td>@Model.E_Lire</td>
            </tr>
    </table>
</div>
    
