@model Klienti

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form class="form" asp-action="Create" method="post">
    <div class="form-group">
        <label>Emri:</label>
        <input type="text" asp-for="Emri" /> <br>

    </div>
    <div class="form-group">
        <label>Email:</label>
        <input type="text" asp-for="Email" />
    </div>s
    <div class="form-group">
        <label>NumriTel:</label>
        <input type="text" asp-for="NumriTel" />
    </div>
    <div class="form-group">
        <label>Aktiv:</label>
        <input type="checkbox" asp-for="Aktiv" />
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>